@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #1F2937;
    color: white;
    width: 1300px;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    color: gray;
}

li {
    list-style: none;
}

ul {
    display: flex;
    gap: 15px;
}

.hero {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    padding: 40px;
    gap: 20px;
    width: 1300px;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 4%;
}

.hero-image-container {
    flex: 1;
    padding: 20px;
}

.hero-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.hero-content div:nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}

.hero-content button {
    align-self: flex-start;
    padding: 5px 20px;
    background-color: #3B82F6;
    border-radius: 7px;
    border: none;
    color: #F9FAF8;
    font-weight: 600;
}

.card img {
    width: 100px;
    height: 100px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px;
    width: 1300px;
}

.content-title {
    font-size: 36px;
    font-weight: 1000;
    color: #1F2937;
    
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0 40px;
}

.card div {
    text-align: center;
    margin-top: 20px;
    color: #616A77;
}

.card {
    text-align: center;    
}

.quote-container {
    display: flex;
    flex-direction: column;
    padding: 50px 150px 30px 150px;
    background-color: #E5E7EB;
    color: #616A77;
    align-items: flex-end;
    width: 650px;
}

.quote-author {
    color: #4A525E;
    font-weight: 900;
    margin: 20px;
}

.CTA-container {
    padding: 75px 150px;
    width: 900px;
}

.CTA {
    display: flex;
    align-items: center;
    background-color: #3B82F6;
    color: white;
    border-radius: 10px;
    padding: 40px 75px;
    gap: 40px;
}

.CTA div:nth-child(1) {
    flex: 1;
}

.CTA div:nth-child(1) div:nth-child(1) {
    font-size: 18px;
    font-weight: 900;
}

.CTA div:nth-child(1) div:nth-child(2) {
    color: #E5E7EB;
    font-size: 12px;
}

.CTA button {
    background-color: #3B82F6;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 7px 15px;
}

.footer {
    background-color: #1F2937;
    padding: 40px;
    text-align: center;
    color: white;
    width: 1300px;
}

.container {;
    display: flex;
    justify-content: center;
}

.header-container {
    background-color: #1F2937;
}

.hero-container {
    background-color: #1F2937;
}

.quote-container-container {
    background-color: #E5E7EB;
}

.footer-container {
    background-color: #1F2937;
}